layout {

    focus-ring {
        active-color   "#84cfff"
        inactive-color "#111416"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#84cfff"
        inactive-color "#111416"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#84cfff"
        inactive-color "#004c6c"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#84cfff80"
    }
}

recent-windows {
    highlight {
        active-color "#84cfff"
        urgent-color "#ffb4ab"
    }
}
